.header {
    border-bottom: 1px solid #e1e1e14b;

    .navbar {
        .navbar-nav {
            @media(max-width: 1199px) {
                background: #585555bb;
                backdrop-filter: blur(20px);
                padding: 20px 0 80px;
            }
        }

        .nav-item {
            @media(min-width: 992px) {
                margin-left: 25px;
            }

            @media(min-width: 1400px) {
                margin-left: 60px;
            }

            .nav-link {
                font-weight: 500;
                font-size: 18px;
                line-height: 25px;
                color: #FFFFFF;

                &.active {
                    background: linear-gradient(90deg, #3DABFC 0%, #982AF7 80.8%);
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                    background-clip: text;
                }

                &:hover {
                    background: linear-gradient(90deg, #3DABFC 0%, #982AF7 80.8%);
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                    background-clip: text;
                }

            }

            .d-button {
                padding: 20px 25px;
                background: linear-gradient(90deg, #3DABFC 0%, #982AF7 80.8%);
                border-radius: 10075px;
                font-weight: 800;
                font-size: 16px;
                line-height: 22px;
                color: #FFFFFF;
                display: inline-block;

                &:hover{
                    background: linear-gradient(90deg, #982AF7 0%,  #3DABFC 80.8%);
                }
            }
        }
    }
}